/* Main preferens */

body, html {
	background-color: #FFF;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
}

* {
margin:0;
padding:0;
}


#mainPage {
	position: relative;
	top: 40px;
	margin: 0 auto;
	width: 100%;
	height: auto;
	background-color: #FFF;
	-webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.5);
	box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.page {
	padding: 10px;
}
/*
#l-bar {
	width: 40px;
	height: 100%;
	background-color: #09F;
	position: absolute;
	top: 40px;
	left: 0;
}
*/
#cp {
	position: fixed;
	z-index: 1;
	display: block;
	width: 100%;
	height: 40px;
	background-color: #09F;
	color: #fff;
}

#cp div {
		float: left;
		padding-right: 10px;
		padding-left: 10px;
		border-right: 1px solid #fff;
		-webkit-box-shadow: 0 0px 20px #fff;
		color: #fff;
		text-align: center;
		font-size: 20px;
		font-family: "eurof35";
		line-height: 40px;
	}

		#cp div:hover {
			background-color: #09A;
			color: #FFF;
		}

	#cp div a {
		width: 125px;
		height: 20px;
		
		color: #518355;
		font-size: 20px;
	}

		#cp div a:hover {
			color: #FFF;
			text-decoration: none;
		}

	#cp li{
		display: block;
		font-size: 20px;
		font-family: "eurof35";
	}

		#cp li a{
			display:block;
			text-decoration:none;
		}

			#cp li a:hover{
				background:#6b0c36;
				color:#fff;
				text-decoration:underline;
			}

/*  Header start */

#logo {
	height: 375px;
	
	background-image: url(../images/flo_c.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

#title a {
	color: #09A;
	font-size: 65px;
	font-family: "eurof35";
}

	#title a:hover{
		text-decoration: none;
	}

#navigation {
	width: auto;
	height: 41px;
		-webkit-box-shadow: 0 8px 10px -6px #39F;
	   	   -moz-box-shadow: 0 8px 10px -6px #39F;
	            box-shadow: 0 8px 10px -6px #39F;
}

	#navigation div {
		
		float: left;
		
		   padding-top: 10px;
		padding-bottom: 10px;
		width: 120px;
		height: 21px;
		color: #518355;
		text-align: center;
		font-size: 20px;
		
		font-family: "eurof35";
	}

		#navigation div:hover {
			background-color: #39F;
			color: #FFF;
		}

	#navigation div a {
		width: 125px;
		height: 20px;
		
		color: #518355;
		font-size: 20px;
	}

		#navigation div a:hover {
			color: #FFF;
			text-decoration: none;
		}

	#navigation li{
		position:relative;
		display:block;
		font-size: 20px;
		font-family: "eurof35";
	}

		#navigation li a{
			display:block;
			text-decoration:none;
		}

			#navigation li a:hover{
				background:#6b0c36;
				color:#fff;
				text-decoration:underline;
			}

.action {
	background-color: #39F;
	color: #FFF !important;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
	#navigation ul{
		position:absolute;
		top: 41px;
		left:-9999px;
		list-style:none;
	}
		#navigation ul li{
			padding: 10px;
			min-width: 125px;
			max-width: 300px;
			height: 30px;
			background-color: #39F;
			color: #fff;
			line-height: 30px;
		}

			#navigation ul li:hover {
				background-color: #fff;
				-webkit-box-shadow: 0 0 10px #39F;
				color: #39F;
			}

			#navigation li:hover ul{ 
				left:0;
				opacity:1;
			}

#up-line {
	width: 100%;
	height: 5px;
	background-color: #09A;
}

#line {
	width: 100%;
	height: 5px;
	background-color: #000;
}

/*  Header end */

/*  Content start */

#content {
	display: block;
	height: auto;
}

.menuWrapper {
margin: 0 auto;
width:960px;
background-color:transparent;
background-position:0 0;
background-repeat:no-repeat;
text-transform:uppercase;
letter-spacing:normal;
font-weight:400;
font-style:normal;
font-size:15px;
font-family: "eurof35";
line-height:1.45em;
}

ul.menu {
width:960px;
height: 542px;
list-style:none;
}

	ul.menu > li {
	float:left;
	width:320px;
	height:542px;
	background-color:transparent;
	background-repeat:no-repeat;
	}

		ul.menu > li.last {
		border:none;
		}

	ul.menu > li ul {
	float:left;
	margin-top:-200px;
	padding-top:20px;
	width:100%;
	height:130px;
	background-color:transparent;
	background-repeat:no-repeat;
	list-style:none;
	}

		ul.menu > li > a {
		float:left;
		margin-top:450px;
		width:320px;
		height:50px;
		background-color:#39F;
		color:#fff;
		text-align:center;
		text-decoration:none;
		letter-spacing:1px;
		font-size: 36px;
		line-height:50px;
		cursor:pointer;
		}

		ul.menu > li ul li {
		display:none;
		}

			ul.menu > li ul.sub1 li {
			display:block;
			}

			ul.menu > li ul.sub1 {
			background-image:url(../images/bg1sub.png);
			}

			ul.menu > li ul.sub2 {
			background-image:url(../images/bg2sub.png);
			}

			ul.menu > li ul.sub3 {
			background-image:url(../images/bg3sub.png);
			}

			ul.menu > li ul li a {
			margin-left:20px;
			color:#000;
			text-decoration:none;
			line-height:30px;
			}

		ul.menu > li ul li a:hover {
		border-bottom:1px dotted #333;
		}

		ul.menu > li ul li a: {
		position:relative;
		top:1px;
		left:1px;
		}

#article {
	padding: 10px;
}

#text-block {
	font-size: 13px;
}

#text-block img {
	max-width: 940px;
}

#top_control {
	margin: 10px 0px 10px 0px;
	height: 70px;
}

	#box {
		float: right;
		padding-left: 50px;
	}

		#box div {
			padding: 10px;
			width: 480px;
			height: 40px;
		}

		#box div:nth-child(2n) {
			width: 345px;
		}

#settings {
	padding: 10px 10px 0px 10px;
}

#timetable, #homework {
	min-height: 480px;
}

#homework {
	width: 500px;
}

.homework_box {
	margin: 0;
	padding: 0;
}

.homework_box tr th {
	background-color: #fff;
	font-weight: normal;
	font-size: 20px;
}

.homework_box tr th:nth-child(2) {
	width: 500px;
}

.homework_box tr:nth-child(even) {
	background-color: #09A;
}

.homework_box tr:nth-child(odd) {
	background-color: #08A;
}

.homework_box tr td {
	padding-left: 5px;
	width: 40px;
	height: 20px;
	color: #fff;
	text-align: left;
}

#timetable {
	width: 545px;
	height: 475px;
}

.timetable_box {
	margin: 0;
	padding: 0;
}

.timetable_box tr th {
	width: 90px;
	background-color: #fff;
	text-align: right;
	font-weight: normal;
	font-size: 20px;
}

.timetable_box tr td {
	width: 50px;
	height: 65px;
	color: #000;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
/*
.timetable_box tr td:nth-child(even) {
	background-color: #09A;
}

.timetable_box tr td:nth-child(odd) {
	background-color: #09F;
}
*/
.timetable_box tr td:nth-child(even) {
	border: 1px solid #09A;
}

.timetable_box tr td:nth-child(odd) {
	border: 1px solid #09F;
}

.lesson:hover::after {
    position: absolute;
    z-index: 1;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: #09F;
    color: #fff;
	content: attr(data-title);
    font-size: 10px;
    opacity: 0.9;
}

#settings {
	width: 345px;
}

#settings p {
	padding: 10px 0px 0px 0px;
}

/*

	Login Box

*/

#login_box {
	position: relative;
	top: 100px;
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 400px;
	border-radius: 5px;
	background-color: #09A;
	-webkit-box-shadow: 0 0px 10px #000;
	box-shadow: 0 0px 10px #000;
}

	#logo_login_box {
		display: block;
		width: 400px;
		height: 150px;
		border-radius: 5px;
		background-color: #09A;
		background-image: url(../images/ico.png);
	}

	#login_form input[type='text'], input[type='password'] {
	width: 380px;
	}


/*

	Admin page

*/

.admin-page-cp {
	z-index: 2;
}

.admin-page-left-panel {
	z-index: 2;
}

.admin-content {
	max-height: 100%;
	width: 100%;
}

.admin-mainPage {
	display: block;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#left-panel {
	z-index: 1;
	display: block;
	width: 270px;
	height: 1080px;
	background-color: #444;
	color: #fff;
}

#left-btn-group {
	padding-top: 10px;
}

	#logo-panel-top {
		padding: 20px 0px 20px 0px;
		background-color: #333;
		text-align: center;
		font-size: 35px;
		font-family: "eurof35";
	}

	#search-bar-panel {
		text-align: center;
	}

#left-footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 250px;
	height: 100px;
	background-color: #333;
	font-family: "eurof35";
	font-size: 20px;
}

	#left-logo-footer {
		padding: 10px 0px 0px 0px;
		text-align: center;
	}

	#left-links {
		text-align: center;
	}

#main-panel {
	position: absolute;
	top: -40px;
	left: 260px;
	z-index: 0;
	float: right;
}

	#main-panel div {
		display: block;
	}

	#label-main-panel {
		font-size: 50px;
		font-family: "eurof35";
	}

	#content-main-panel {
		min-width: 1000px;
		width: auto;
		height: 1000px;
		background-color: #ccc;
	}

/* Content end  */

/*  Footer start */

#footer {
	height: 100%;
	background-color: #09A;
}

	#logo-footer {
		height: 120px;
		background-color: #09A;
		background-image: url(../images/ico.png);
		background-repeat: no-repeat;
	}

	#footer-content {
		display: inline-block;
		margin: 0 auto;
		width: auto;
		height: auto;
	}

		#footer-content div {
			display: inline-block;
			float: left;
			margin: 0 auto;
			padding: 10px;
			width: 140px;
			height: 100%;
		}

			#footer-content div li {
				list-style: none;
				font-size: 20px;
			}

			#footer-content div li a {
				color: #FFF;
			}

				#footer-content div li a:hover {
					text-decoration: underline;
				}

	#footer-line {
		width: 100%;
		height: 1px;
		-webkit-box-shadow: 0 0 30px #EEE;
	}

#copy {
	padding: 10px;
	color: #FFF;
	font-size: 22px;
}

	#copy a {
		color: #fff;
	}

/*  Footer end */