@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	font-family: 'PT Sans';
	font-variant: small-caps;
	text-rendering: optimizeLegibility;
}

/* UI */

a {
	color: #09f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

input[type='text'], input[type='password'] {
	margin: 5px 0px 5px 0px;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	font-variant: small-caps;
	width: 100%;
}

button, input[type='submit'], input[type='button'], #button {
	margin: 5px 0px 5px 0px;
	padding: 5px 10px 5px 10px;
	border: 1px solid;
	border-radius: 3px;
	background-color: #09F;
	color: #fff;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	font-variant: small-caps;
}

button:hover, input[type='submit']:hover, #button:hover {
	background-color: #09A;
	cursor: pointer;
	text-decoration: none;
}

.titleBox {
	display: block;
	font-size: 36px;
	text-align: center;
}

/* Form */

#login_box {
	position: relative;
	top: 25%;
	margin-top: 25%;
	margin: 0 auto;
	padding: 10px;
	width: 400px;
	border-radius: 5px;
	background-color: #3d9970;
	box-shadow: inset 0px 0px 10px 0px #ccc;

}

	#login_form {
		color: #fff;
		font-size: 18px;
	}

		#logo_login_box {
		display: block;
		height: 150px;
		background-image: url(ico.png);
	}

/* MainPage */

#page {
	display: block;
	height: auto;
	width: 1000px;
	margin: 0px auto;
	color: #fff;
	background-image: url(bg.png);
	box-shadow: 0 0 20px #ccc;
}

#header {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 36px;
	/*background-image: url(flo_c.jpg);*/
	background-repeat: no-repeat;
}

#content {
	display: inline-block;
	padding: 10px;
}
	#leftCol {
		display: inline-block;
		float: left;
		width: 480px;
	}

		#userArea {

		}

			#userArea span {
				font-size: 24px;
			}

		#skipLesson {
			display: block;

		}

			#skipLessonTotal {

			}

				#skipLessonTotal .number {
					font-size: 48px;
				}

				#skipLessonTotal .text {
					font-size: 24px;
				}

				.percent {
					color: #fff;
					text-align: center;
				}

				.skipLessonBar {
				    display: block;
				    -webkit-appearance: none;
				}
				.skipLessonBar {
				    background-color: #ff4136;
				    border-radius: 5px;
				    text-align: right;
				    display: block;
				    color: #fff;
				    position: relative;
				    height: 170px;
				    line-height: 170px;
				    font-size: 48px;
				    width: 400px; /* option */
				}
				.skipLessonBar::before {
				    background: #2ecc40;
				    content: '4';
				    text-align: center;
				    border: none;
				    border-radius: 5px;
				    border-top-right-radius: 0px;
				    border-bottom-right-radius: 0px;
				    border-right: 3px solid #fff;
				    position: absolute;
				    top: 0;
				    left: 0;
				    height: 170px;
				    width: 50%;
				}
				@-webkit-keyframes bgmove {
				    from { background-position: 0 0,0 0, 0 0;}
				    to { background-position: 0 0, 5px 0, 0 0;}
				}

			#skipLessonDetail {
				text-align: center;
			}
				#skipLessonDetailGreen {
					border-bottom-left-radius: 10px;
					border-top-left-radius: 10px;
					background-color: #2ecc40;
					width: 50%;
					float: left;
					height: 100px;
					display: inline-block;
				}

				#skipLessonDetailRed {
					display: block;
					border-bottom-right-radius: 10px;
					border-top-right-radius: 10px;
					background-color: #ff4136;
					width: 50%;
					float: right;
					height: 100px;
					display: inline-block;

				}

				#skipLessonDetailGreen:hover, #skipLessonDetailRed:hover {
					box-shadow: 0px 0px 5px 0px #fff;
					cursor: pointer;
				}

				.skipLessonDetailText {
					font-size: 48px;
					color: #fff;
					padding-top: 20px;
				}

			#resume {
				border-radius: 10px;
				color: #fff;
			}

				#resume a {
					display: block;
					width: 100%;
					color: #fff;
					text-decoration: none;
					margin-bottom: 20px;
				}


				#resume a:hover {
					text-decoration: underline;
				}

				#resume p {
					padding-bottom: 20px;
					font-size: 24px;
				}

				#lCol, #rCol {
					width: 50%;
					
				}

				#lCol {
					float: left;
					
				}

				#rCol {
					float: right;
				}



	#rightCol {
		width: 500px;
		float: right;
	}

		#listOfLesson {
			border-radius: 10px;
			padding: 10px;
			width: 490px;
			color: #fff;
		}

			#listOfLessonLegend {
				padding-top: 100px;
				text-align: center;
			}

				#listOfLessonLegend div {
					display: inline-block;
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 30px;
					border-radius: 50%;
					width: 36px;
					height: 36px;
				}

					.red {
						background-color: #ff4136;
					}

					.yellow {
						background-color: #ffdc00;
					}

					.green {
						background-color: #2ecc40;
					}

			#listOfLessonContent {
				font-weight: 200;
				color: #fff;
				font-variant: small-caps;
				padding-top: 5px;
			}

				#listOfLessonGroup {
					margin-bottom: 10px;
					border-radius: 5px;
				}


					#listOfLessonGroup div {
						padding: 10px;
					}

						.nameLesson {
							text-align: left;
						}

						.markLesson {
							text-transform: uppercase;
							border-top: 1px solid #000;
							text-align: center;
						}

						.dropDownMark {
							background-image: url(arrow.png);
							background-repeat: no-repeat;
							cursor: pointer;
						}

						.dropDownContent {
							display: none;
						}



#footer {
	padding: 10px;
}

	#footer a {
		color: #fff;
	}